.next-pieces-styles {
    background-color: black;
    margin-right: 35px;
    margin-top: 5rem;
    border-radius: 8px;
    height: 15rem;
    max-height: 15rem;
    border: 2px solid #333;
    max-width: 10rem;
    width: 10rem;
}

.next-pieces-styles > h6 {
    color: #a33289;
    text-align: center;
    margin-top: 10px;
}