@font-face {
  font-family: Unibody;
  src: url(js/assets/fonts/Unibody8.ttf);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("https://images.freeimages.com/vhq/images/istock/previews/9635/96351063-vector-seamless-pattern-with-yellow-honeycombs-honey-background.jpg"); */
  background-image: url("https://t4.ftcdn.net/jpg/02/73/65/67/240_F_273656780_GfTvqB2pblw6V78O8FI09BxBqW75wuM3.jpg");
  backdrop-filter: blur(1.1px) brightness(80%);
  min-height: 100vh;
}
 /* https://t4.ftcdn.net/jpg/02/73/65/67/240_F_273656780_GfTvqB2pblw6V78O8FI09BxBqW75wuM3.jpg */
 /* https://t4.ftcdn.net/jpg/03/96/31/07/240_F_396310714_BMztFGjlXpYWu6JWbXjXBR0q9jXvPZTQ.webp */
body * {
  overflow-x: hidden;
  font-family: Unibody;
}


nav *{
  overflow: unset;
}

.nav-item a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-inline: 8px;
}

.navbar-style{
  background-color: #000000  ;
}

.container {
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 80px;
  background: white;
  font-weight: 700;
}

.nav-item .active{
  color: #FFFFFF;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

.card{
  height: 400px;
  background-color: darkgrey;
}

.card input{
  margin-top: 320px;
}

.userProfile-scoreTable {
  width: 70%;
  table-layout: fixed;
  text-align: center;
}
.userProfile-scoreTable td{
  padding-inline: 8px;
}

.userProfile-scoreTable thead {
  position: sticky;
  top: 0;
  background-color: #17191b;
  z-index: 1;
}
.userProfile-scoreTable tbody{
  font-size: smaller;
}


.table-scroll {
  overflow-y: auto;
  max-height: 500px;
  position: relative;
}




.multiplayer-stage-container{
  display:flex;
  overflow-x:scroll;
  max-width: 100%;
}
.multiplayer-stage-container .tetris-stage{ 
  scale:65%
}

.next-pieces-container{
  display:grid;
  grid-template-rows: repeat(4, 9px);
  grid-template-columns: repeat(4, 9px);
}

.all-pieces{
  width: 20%;
  margin-inline: auto;
}

